<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Robot Control GUI</title>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="./main.css">
</head>
<body>
    <div id="maincontainer" class="container-fluid h-100 p-0">
        <div class="row row-cols-2 w-100 h-100 p-0 m-0">
            <section id="codecontainer" class="col h-100">
                <button id="startblock" class="block fillblock">
                    <div class="block2"><p class="blocktxt"><span class="preblockname">Start</span></p></div>
                </button>
            </section>
            <section id="blockscontainer" class="col p-0 m-0 h-100">
                <div id="allblocks" class="w-100 h-85 m-0 p-0">
                    <template id="template" class="d-none">
                        <div class="indentbox"></div>
                        <div class="block1">
                            <button class="blockinfo" type="button"
                            data-bs-toggle="tooltip" data-bs-placement="right" 
                            data-bs-title=""
                            >
                                <svg xmlns="http://www.w3.org/2000/svg" width="21" height="20" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                    <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                                </svg>
                            </button>
                            <button class="addlayer">+</button>
                            <button class="removelayer">-</button>
                        </div>
                        <div class="block2"> 
                            <p class="blocktxt">
                                <span class="preblockname"></span>
                                <input class="blockdetail" disabled placeholder="100"/>
                                <span class="postblockname"></span>
                            </p>
                        </div>
                        <div class="block3">
                            <button class="up">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                                    <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                                </svg>
                            </button>
                            <button class="down">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                                    <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                                </svg>
                            </button>
                            <button class="trash">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                    <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                                </svg>
                            </button>
                        </div>
                    </template>
                    <div id="allblocksleft"></div>
                    <div id="allblocksright"></div>
                </div>
                <div id="execblocks" class="w-100 h-15 p-0 m-0">
                    <div class="row row-cols-2 w-100 h-100 m-0 p-0">
                        <div class="col m-0 btncontainer">
                            <button class="action btnred" id="clear" onclick="openConfirmationBox()">Clear all</button>
                        </div>
                        <div class="col m-0 btncontainer">
                            <button class="action btngreen" id="run" onclick="runCode()">
                                Run code
                            </button>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <div id="confirmclearmodal" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirm clear code</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Do you wish to clear all code? This action is irreversible.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" onclick="clearAllCode()">Clear all</button>
                </div>
            </div>
        </div>
    </div> 

    <div id="failmodal" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Execution failed</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Robot is currently busy. Please wait until robot finishes executing code to try again.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div> 

     <div id="errormessage" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Error!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Please take note the following are restricted for implementation purposes:
                        <ul>
                            <li>Loops within loops</li>
                            <li>Conditionals within conditionals</li>
                            <li>Loops within conditionals</li>
                        </ul>
                        However, the following are allowed:
                        <ul>
                            <li>Conditionals within loops</li>
                        </ul>
                        Your action falls under the restricted group. The changes have been reverted. Thank you for understanding.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Okay</button>
                </div>
            </div>
        </div>
    </div> 

    <div id="errormodal" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Error!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Okay</button>
                </div>
            </div>
        </div>
    </div> 

    <div id="runmodal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title h3">Code is running...</h1>
                </div>
                <div class="modal-body">
                    <img src="./img/play.png" id="playimg"/>
                    <img src="./img/stop.png" id="stopimg"/>
                    <div class="loader green"></div>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" onclick="stopCode()">Interrupt execution</button>
                </div>
            </div>
        </div>
    </div>   

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <script src="./main.js"></script>
    
</body>
</html>