*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
html, body {
    height: 100%;
}
.h-85 {
    height: 85%;
}
.h-15 {
    height: 15%;
}
#codecontainer {
    background-color: #ddf;
    padding: 3vh 3vw;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
#codecontainer::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
#blockscontainer {
    height: 100vh;
}
.execblocks .btncontainer {
    text-align: center;
}
button.action {
    padding: 0.8em 1.8em;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
}
button.btnred, button.btngreen {
    border: none;
    border-radius: 15px;
    font-size: 1.2em;
    transition: 0.2s;
}
button.btnred {
    background-color: rgb(233, 151, 165);
    color: rgb(110, 3, 21);
}
button.btnred:hover {
    background-color: rgb(161, 0, 27);
    color: rgb(255, 255, 255);
}
button.btngreen {
    background-color: rgb(122, 235, 141);
    color: rgb(3, 110, 21);
}
button.btngreen:hover {
    background-color: rgb(0, 161, 27);
    color: rgb(255, 255, 255);
}
button.btngreen.disabled, button.btngreen.disabled:hover {
    background-color: rgb(200, 200, 200) !important;
    color: rgb(10, 10, 10) !important;
}
.loader {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    animation: spin 5s linear infinite;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 50%;
    left: 50%;
}

.loader.green {
    border: 16px solid rgb(200, 200, 200);
    border-top: 16px solid rgba(102, 102, 102);
    background-color: rgb(205, 255, 205);
}

.loader.red {
    border: 16px solid rgb(200, 200, 200);
    border-top: 16px solid rgba(102, 102, 102);
    background-color: rgb(255, 205, 205);
}

#runmodal .modal-body {
    height: 200px;
}

.modal-body img {
    width: 4vw;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    z-index: 9999;
}


#runmodal .modal-header, #runmodal .modal-footer {
    border: none;
}

@keyframes spin {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}
@keyframes spin_reverse {
    0% {transform: rotate(-0deg);}
    100% {transform: rotate(-360deg);}
}

#runmodal h1 {
    text-align: center;
    margin: 1vh auto 0;
}

#runmodal button {
    margin: 0 auto 2vh;
    font-size: 1.2em;
}
#allblocks {
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
#allblocks::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
#allblocksleft {
    padding: 1vh 1vw 1vh 2vw;
    width: 50%;
}
#allblocksright { 
    padding: 1vh 2vw 1vh 1vw;
    width: 50%;
}
.block#startblock {
    background-color: #55ff55 !important;
    cursor: default;
}
.fillblock {
    border: 1.5px solid black !important;
    margin-top: -1.5px !important;
    cursor: default !important;
}
.block {
    margin: 2vh 0;
    /* border-radius: 100px; */
    padding: 3vh 2vw;
    width: 100%;
    border: none;
    transition: 0.3s;
    display: flex;
    flex-wrap: wrap;
}
.block .indentbox {
    display: none;
}
.block.loopindent .indentbox {
    display: inline-block;
    margin: -3vh -2vw;
    border-left: 30px solid rgb(0, 175, 240);
    background-color: #0000;
    height: 84px;
    width: calc(2vw + 60px);
    width: -moz-calc(2vw + 60px);
}
.block.ifindent .indentbox {
    display: inline-block;
    margin: -3vh -2vw;
    border-left: 30px solid rgb(180, 70, 255);
    background-color: #0000;
    height: 84px;
    width: calc(2vw + 60px);
    width: -moz-calc(2vw + 60px);
}
.block.ifloopindent .indentbox {
    display: inline-block;
    margin: -3vh -2vw;
    border-left: 30px solid rgb(0, 175, 240);
    background: linear-gradient(90deg, rgb(180, 70, 255) 60%, #0000 60%);
    height: 84px;
    width: calc(2vw + 60px);
    width: -moz-calc(2vw + 60px);
}
.block.orange {
    background-color: rgb(255, 155, 0);
}
.block.orange:hover {
    background-color: rgb(230, 130, 0);
}
.addblock.orange:active {
    background-color: rgb(220, 120, 0);
}
.block.blue {
    background-color: rgb(0, 175, 240);
}
.block.blue:hover {
    background-color: rgb(0, 150, 215);
}
.addblock.blue:active {
    background-color: rgb(0, 140, 205);
}
.block.purple {
    background-color: rgb(180, 70, 255);
}
.block.purple:hover {
    background-color: rgb(155, 45, 230);
}
.addblock.purple:active {
    background-color: rgb(145, 35, 220);
}
button:disabled, button[disabled] {
    cursor: not-allowed;
}
.preblockname, .postblockname {
    font-size: 1.2em;
}
.block input {
    width: 5em;
    border-radius: 1em;
    border: none;
    padding: 0.3em 1em;
}
.block input::-webkit-outer-spin-button,
.block input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.block input[type=number] {
    appearance: textfield;
    -moz-appearance: textfield; 
}
.block .selectcondition, .block .selectvariable {
    background-color: white;
    border-radius: 1em;
    border: none;
}
.block .selectvariable {
    width: 12em;
    padding: 0.3em 1em;
    margin: 0;
}
.block .selectcondition { 
    width: 2em;
    padding: 0.3em 0.5em;
    margin: 0 0.5em;

}
.block p {
    text-align: center;
}
.block .blocktxt,.block .buttons {
    display: inline;
}
.block input.warning {
    border: 1px solid red !important;
    color: red !important;
    animation: 0.5s shake;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
.block4 {
    margin: auto;
}

.addblock .block1, .addblock .block3 {
    display: none;
}
.addblock .block2 {
    flex: 1 0 95%;
}
.fillblock .block1, .fillblock .block3 {
    flex: 1 0 16%;
    
}
.fillblock .block2 {
    flex: 2 0 62%;
}
.fillblock .block1 {
    text-align: left;
    transition: 0.2s;
    opacity: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.fillblock.ifloopindent .block1 {
    padding-left: 30px;
}
.fillblock .block3 {
    text-align: right;
    opacity: 0;
    transition: 0.2s;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.fillblock .block1 button {
    border: none;
    background: #0000;
    transition: 0.2s;
    font-size: 1.2em;
}
.fillblock .block3 button, .addlayer, .removelayer {
    border: 1px solid #0000;
    background: #0000;
    transition: 0.2s;
    font-size: 1.2em;
}
.block.orange .addlayer, .block.orange .removelayer {
    display: none;
}
.fillblock .block3 button:hover, .addlayer:hover, .removelayer:hover {
    border: 1px solid black !important; 
}
.fillblock:hover .block3, .fillblock:hover .block1 {
    opacity: 1;
}
.fillblock {
    margin: 0;
    width: 100%;
}

